<div>
    Last updated: {{data.timestamp}} <br>
<table style="width: 80%;" border="2" cellpadding="4">

    <TR>
        <TD>ID</TD>
        <td>Total count</td>
        <td>Instant count</td>
        <td>Static count</td>
        <td>Mobility</td>
        <td>Mean RSSI</td>
        <td>Scan time</td>
        <td>Settings</td>
        <td>Last update</td>
        <td>Update delta</td>
        <td>Online?</td>
    </TR>

    {% for item in data.data %}
        {% if item.tot_all >= 0 %}
            {% if (data.online_only and item.last_updated|is_online()) or (data.online_only == False) %}
                <TR>
                    <TD class="c1">{{item.id}}</TD>
                    <td>{{item.tot_all}} ({{item.tot_close}})</td>
                    <td>{{ '%.1f'|format(item.inst_all) }} ({{ '%.1f'|format(item.inst_close) }})</td>
                    <td>{{item.stat_all}} ({{item.stat_close}})</td>
                    <td>{{ '%.2f'|format(item.tot_all / item.inst_all) }} ({{ '%.2f'|format(item.tot_close / item.inst_close) }})</td>
                    <td>{{ '%.2f'|format(item.rssi_avg) }}</td>
                    <td>{{ '%.2f'|format(item.scantime / item.scans) }} ({{item.scans}})</td>
                    <td>{{item.rssi_thresh}}, {{item.static_ratio}}</td>
                    <TD>{{ item.timestamp.strftime('%a %d.%m.%Y %H:%M:%S') }}</TD>
                    <TD>{{item.last_updated|format_datetime('delta')}}</TD>
                    <td>{{item.last_updated|is_online()}}</td>
                </TR>
            {% endif %}
        {% else %}
            <TR>
                <TD class="c1">{{item.id}}</TD>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <TD>N/A</TD>
                <TD>N/A</TD>
                <TD>N/A</TD>
                <TD>N/A</TD>
                <td>Never</td>
            </TR>
        {% endif %}
    {% endfor %}

</table>
</div>
