

<div>
    Last updated: {{data.timestamp}} <br>
<table style="width: 80%;" border="2" cellpadding="4">

    <TR>
        <TD>ID</TD>
        <td>Total count</td>
        <td>Instant count</td>
        <td>Static count</td>
        <td>Scan time</td>
        <td>Mean RSSI</td>
        <td>Last update</td>
        <td>Update delta</td>
        <td>Online?</td>
    </TR>

    {% for item in data.data %}
        {% if item.count >= 0%}
            <TR>
                <TD class="c1">{{item.id}}</TD>
                <td>{{item.count}} ({{item.close}})</td>
                <td>{{item.inst_all}} ({{item.inst_close}})</td>
                <td>{{item.static_total}} ({{item.static_close}})</td>
                <td>{{item.scantime}}</td>
                <td>{{item.rssi_avg}} ({{item.rssi_thresh}})</td>
                <TD>{{item.timestamp|format_datetime('medium')}}</TD>
                <TD>{{item.last_updated|format_datetime('delta')}}</TD>
                <td>{{item.last_updated|is_online()}}</td>
            </TR>
        {% else %}
            <TR>
                <TD class="c1">{{item.id}}</TD>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <TD>N/A</TD>
                <TD>N/A</TD>
                <td>Never</td>
            </TR>
        {% endif %}
    {% endfor %}

</table>
</div>
