<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan</title>
</head>

<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h1>Blescan Data</h1>
    <button onclick="window.location.href='/';">
        Back to frontpage</button>
    <br><br>

    <button id="btnUpdate" onclick="fetchData()">
        Update
    </button>

    <label>Last updated:</label>
    <label id="update_timestamp">XX</label> <br>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"
        integrity="sha512-UOJe4paV6hYWBnS0c9GnIRH8PLm2nFK22uhfAvsTIqd3uwnWsVri1OPn5fJYdLtGY3wB11LGHJ4yPU1WFJeBYQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.css"
        integrity="sha512-MKxcSu/LDtbIYHBNAWUQwfB3iVoG9xeMCm32QV5hZ/9lFaQZJVaXfz9aFa0IZExWzCpm7OWvp9zq9gVip/nLMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <p>
        <label for="amount">Date range:</label>
        <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" size="100" />
    </p>
    <div style="margin-left: 3%; margin-right: 3%; margin-bottom: 1cm; margin-top: 1cm;">
        <div id="slider_range"></div>
    </div>

    <div style="padding: 1cm; padding-bottom: 0%; ">
        <canvas id="myChart" style="width: 95vw !important; height: 80vh !important; "></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

    <script>

        var chart = new Chart("myChart", {
            type: "line",
            data: {
                datasets: [{
                    label: "Avg. Count",
                    data: [],
                    spanGaps: 10000
                },
                {
                    label: "Devices online",
                    data: [],
                    spanGaps: 10000
                }

                ]
            },
            options: {
                responsive: true,
                maintainAspectRation: false,
                legend: { display: true },
                scales: {
                    x: {
                        type: 'time'
                    }
                }
            }
        });

        var myslider = null

        var firstDate = null;
        var firstDateSec = null;
        var lastDate = null;
        var lastDateSec = null

        FORMAT = "%Y-%m-%d_%H:%M";
        FORMAT_JS = "YYYY-MM-DD HH:mm:ss"

        function setValues(data) {

            data_count = data.map(e => {
                return {
                    x: e.timestamp,
                    y: e.count_avg
                };
            });

            data_online = data.map(e => {
                return {
                    x: e.timestamp,
                    y: e.dev_count
                }
            })

            chart.data.datasets[0].data = data_count;
            chart.data.datasets[1].data = data_online;
            chart.update();

        }

        function fetchData() {
            url = `/database/data`;
            fetch(url, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    setValues(data);
                }).catch(error => {
                    console.error('Error:', error);
                })
        }


        function toSec(dateString) {
            if (dateString == "first") {
                return firstDateSec;
            }
            if (dateString == "last") {
                return lastDateSec;
            }
            var dt = moment(dateString, FORMAT_JS);
            return dt.unix();
        }

        function secToDate(s) {
            if (s == firstDateSec) {
                return "first";
            }
            if (s == lastDateSec) {
                return "last";
            }
            dt = moment.unix(s);
            return dt.format(FORMAT_JS);
        }

        function updateData() {
            time = new Date().toLocaleTimeString();
            fetchData();
            fetchDates().then(dates => {
                firstDateSec = toSec(dates.first);
                lastDateSec = toSec(dates.last);

                var oldPositions = myslider.noUiSlider.getPositions();

                myslider.noUiSlider.updateOptions({
                    range: {
                        'min': firstDateSec,
                        'max': lastDateSec
                    }
                });

                var newPositions = [null, null];
                if (oldPositions[0] == 0) {
                    newPositions[0] = 'first';
                }
                if (oldPositions[1] == 100) {
                    newPositions[1] = 'last';
                }
                myslider.noUiSlider.set(newPositions);
            });
            document.getElementById("update_timestamp").innerHTML = time;
        }

        async function fetchDates() {
            return fetch('/database/data/dates', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    firstDate = moment(data.first).format(FORMAT_JS);
                    lastDate = moment(data.last).format(FORMAT_JS);

                    return { first: data.first, last: data.last }
                })
        }

        $(function () {
            console.log('init');
            myslider = document.getElementById('slider_range');



            fetchDates().then(dates => {

                console.log(dates);

                noUiSlider.create(myslider, {
                    range: {
                        'min': toSec(dates.first),
                        'max': toSec(dates.last)
                    },
                    step: 60,
                    start: [(dates.first), (dates.last)],
                    tooltips: true,
                    pips: {
                        mode: 'positions',
                        values: [0, 33, 66, 100],
                        format: {
                            to: secToDate,
                            from: toSec
                        }
                    },
                    format: {
                        to: secToDate,
                        from: toSec
                    }
                });

                myslider.noUiSlider.on('update', function (values, handle) {
                    $('#amount').val((values[0]) + ' - ' + (values[1]));

                    if (handle === 0) {
                        if (values[0] == 'first') {
                            chart.options.scales.x.min = null;
                            return;
                        }
                    }
                    else if (handle === 1) {
                        if (values[1] == 'last') {
                            chart.options.scales.x.max = null;
                            return;
                        }
                    }


                    chart.options.scales.x.min = (values[0]);
                    chart.options.scales.x.max = (values[1]);
                    chart.update();
                })
            });

            updateData();
            setInterval(updateData, 5000);
        });

    </script>
</body>

</html>