<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan</title>
</head>

<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h1>Blescan Data</h1> 
    <button onclick="window.location.href='/';">
        Back to frontpage</button>
        <br><br>

    
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <!-- use htmx to update table -->
    <button id="btnUpdate" hx-get="data_table" hx-swap="innerHTML" hx-target="#item_table">
        Update
    </button>

    <label>Last updated:</label>
    <label id="update_timestamp">XX</label> <br>

    <div id="item_table"></div>
            
    <script>

        function updateData() {
            time = new Date().toLocaleTimeString();
            document.getElementById("btnUpdate").click();
            document.getElementById("update_timestamp").innerHTML = time;
        }

        document.addEventListener('DOMContentLoaded', function() {
            updateData();
            setInterval(updateData, 5000);
        });
    </script>
</body>

</html>