<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan</title>
</head>

<body>
    <h1>Configuration Setup</h1>
    <button onclick="window.location.href='/';">
        Back to frontpage</button>
        <br><br>
        
    <div id="settings">
        <h2>General Settings</h2>
        <label for="ids">Define the IDs of all devices that are used for this setup (form: 1,2-5,44-50)</label><br>
        <input type="text" id="ids" name="ids" value="{{config.ids}}"><br><br>
    

        <label>Define the url to connect to</label><br>
        <input type="text" id="url" name="url" value="{{config.internet.url}}"><br>

        <br>
    
        <input type="checkbox" id="use_zigbee" name="use_zigbee"
        {% if config.zigbee.enable %}
        checked
        {% endif %}
        >
        <label for="use_zigbee">Check if the zigbee functionality should be used</label><br>
        <label>Define IDs of zigbee nodes that are connected to the internet</label><br>
        <input type="text" id="zigbee_internet" name="zigbee_internet" value="{{config.zigbee.internet}}"><br>

        <label>Define ID of the Coordinator of the Network</label><br>
        <input type="number" id="zigbee_coordinator" name="zigbee_coordinator" value="{{config.zigbee.coordinator}}"><br>

        <label>Define the PAN-ID of the network</label><br>
        <input type="number" id="zigbee_pan" name="zigbee_pan" value="{{config.zigbee.pan}}"><br>
    
        <input type="submit" value="submit" onclick="submitForm()">
                    
        </div>
            
                    
        <script src="{{ url_for('static', filename='settings.js' ) }}"></script>
</body>

</html>