<div>
    Last updated: {{data.update_time}} <br>
    <table style="width: 80%;" border="2" cellpadding="4">

        <TR>
            <td>ID</td>
            <td>Total count</td>
            <td>Instant count</td>
            <td>Static count</td>
            <td>Instant/Total</td>
            <td>Static/Total</td>
            <td>Instant/Static</td>
            <td>Scan time</td>
            <td>Mean RSSI</td>
            <td>Settings</td>
            <td>Last update</td>
            <td>Update delta</td>
            <td>Online?</td>
        </TR>

        {% for item in data.data %}
            {% if item.tot_all >= 0 %}
                {% if (data.online_only and item.last_updated|is_online()) or (data.online_only == False) %}
                    <TR>
                        <td class="c1">{{item.id}}</td>
                        <td>{{item.tot_all}} ({{item.tot_close}})</td>
                        <td>{{ '%.1f'|format(item.inst_all) }} ({{ '%.1f'|format(item.inst_close) }})</td>
                        <td>{{item.stat_all}} ({{item.stat_close}})</td>
                        {% if item.tot_all > 0 and item.tot_close > 0%}
                            <td>{{ '%.2f'|format(item.inst_all / item.tot_all) }} ({{ '%.2f'|format(item.inst_close / item.tot_close) }})</td>
                            <td>{{ '%.2f'|format(item.stat_all / item.tot_all) }} ({{ '%.2f'|format(item.stat_close / item.tot_close) }})</td>
                        {% else %}
                            <td>N/A</td>
                            <td>N/A</td>
                        {% endif %}
                        {% if item.stat_all > 0 and item.stat_close > 0%}
                            <td>{{ '%.2f'|format(item.inst_all / item.stat_all) }} ({{ '%.2f'|format(item.inst_close / item.stat_close) }})</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td>{{ '%.2f'|format(item.scantime / item.scans) }} ({{item.scans}})</td>
                        {% if item.rssi_avg < 0%}
                            <td>{{ '%.2f'|format(item.rssi_avg) }}</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td>{{item.rssi_thresh}}, {{item.static_ratio}}</td>
                        <td>{{ item.timestamp.strftime('%a %d.%m.%Y %H:%M:%S') }}</td>
                        <td>{{item.last_updated|format_datetime('delta')}}</td>
                        <td>{{item.last_updated|is_online()}}</td>
                    </TR>
                {% endif %}
            {% else %}
                <TR>
                    <TD class="c1">{{item.id}}</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>Never</td>
                </TR>
            {% endif %}
        {% endfor %}

    </table>
</div>
