<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan Count Data</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#online_only').change(function() {
                var isChecked = $(this).is(':checked');
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('monitor.update_checkbox') }}",
                    data: JSON.stringify({ online_only: isChecked }),
                    contentType: 'application/json',
                    success: function(response) {
                        console.log(response);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <h1>Blescan Count Data</h1> 
    <button onclick="window.location.href='/';">
        Back to frontpage
    </button>
    <br><br>

    <script src="https://unpkg.com/htmx.org@1.9.8"></script>

    <form action="{{ url_for('monitor.update_checkbox') }}" method="POST">
        <label for="online_only">Show only online devices</label>
        <input type="checkbox" id="online_only" name="online_only">
    </form>

    <br>

    <div id="item_table"></div>
            
    <script>
        const hiddenRows = new Set();

        document.addEventListener('DOMContentLoaded', function() {
            setInterval(updateTable, 5000);
        });

        function updateTable() {
            htmx.ajax('GET', 'count_table', { target: '#item_table', swap: 'innerHTML' });
        }
    </script>
    
</body>
</html>
