<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan</title>
</head>

<body>
    <h1>BleScan Cloud Configuration</h1>
    <div>

        <div>
            <h2>Enable/Disable</h2>
            Change the enabled status of the cloud functionality. <br>
            Current state is: <br>
            <p style="text-indent: 20px;">
            {{data.is_enabled}}
            </p>

            change to: <br>
            <input type="checkbox" id="chbx_enable" name="chbx_enable" 
            {% if data.is_enable %}
            checked
            {% endif %}
            >
            

        </div>

        <div>
        <h2>Device Filter</h2>
        Define a filter which device data should be sent to the cloud. <br>
        The current filter is: <br>
        <p style="text-indent: 20px;">{{data.current_filter}} </p>


        <input type="text" id="cloud_filter" name="cloud_filter" value="{{data.current}}">

        </div>

        <br>
        <br>
        
        <label for="submit">Submit entered Data. Only text-fields with data will be sent to the server</label> <br>
        <input type="submit" id="submit" value="submit" onclick="submitForm()">
        <br>

        <div id="result_div">

        </div>
    </div>

    <script>

        function setResult(result) {
            text = "Failed";
            if (result) {
                text = "Success";
            }
            document.getElementById("result_div").appendChild(
                document.createTextNode(text)
            );
        }

        function submitForm() {

            console.debug("submitting data");
            document.getElementById("result_div").innerHTML = '';

            device_filter = document.getElementById("cloud_filter").value;
            if (device_filter === "") {
                device_filter = null;
            }

            data = {
                is_enabled: document.getElementById("chbx_enable").checked,
                device_filter: device_filter
            };

            console.log("submitting data: ");
            console.log(data);
            fetch("/cloud/update_config", {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                setResult(response.status == 200);
                location.reload();
            })

        }



    </script>

</body>

</html>