<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan Administration</title>
</head>

<body>
    <h1>BleScan Administrative Interface</h1>
    <div>
        <h2>Setup System</h2>
        Create and deploy a new Blescan configuration that can be downloaded by the devices <br>
        <button onclick="window.location.href='/setup';">
            Create Configurations</button>
    </div>

    <div>
        <h2>Configure Cloud</h2>
        <button onclick="window.location.href='/cloud/config';">
            Cloud config</button>
    </div>
</body>

</html>