<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan</title>
</head>

<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h1>Blescan Status</h1>

    
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <!-- use htmx to update table -->
    <button id="btnUpdate" hx-get="status_last_updated_table" hx-swap="innerHTML" hx-target="#item_table">
        Update
    </button>

    <label>Last updated:</label>
    <label id="update_timestamp">XX</label> <br>

    <div id="item_table">
    </div>
            
    <script>

        function updateData() {
            time = new Date().toLocaleTimeString();

            document.getElementById("btnUpdate").click();

            document.getElementById("update_timestamp").innerHTML = time;
        }

        setInterval(updateData, 5000);
        updateData();
    </script>
</body>

</html>