<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan Configuration Status</title>
</head>

<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h1>Configuration Status</h1>
    <button onclick="window.location.href='/';">
        Back to frontpage</button>
        <br><br>

    
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <!-- use htmx to update table -->
    <button id="btnUpdate" hx-get="setup_item_table" hx-swap="innerHTML" hx-target="#item_table">
        Update
    </button>

    <label>Last updated:</label>
    <label id="update_timestamp">XX</label> <br>

    <div id="item_table">
        <table style="width: 40%;" border="2" cellpadding="4">
            {% for item in data.data %}
            <TR>
               <TD class="c1">{{item.id}}</TD>
               <TD class="c2"><SPAN>{{item.status}}</SPAN></TD>
            </TR>
            {% endfor %}
            </table>
            
    </div>
            
    <script>

        function updateData() {
            time = new Date().toLocaleTimeString();

            document.getElementById("btnUpdate").click();

            document.getElementById("update_timestamp").innerHTML = time;
        }

        
        document.addEventListener('DOMContentLoaded', function() {
            setInterval(updateData, 5000);
            updateData();
        });
    </script>
</body>

</html>