<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan</title>
</head>

<body>
    <h1>BleScan Controll Interface</h1>
    <div>
        <h2>Setup System</h2>
        <button onclick="window.location.href='setup';">
            Create Configurations</button>
    </div>

    <div>
        <h2>Watch system</h2>
        <button onclick="window.location.href='data/latest';">
            Latest Data Table</button>
        <br>
        <button onclick="window.location.href='data/graph';">
        Graph View</button>
    </div>

    <div>
        <h2>Data export</h2>
        <button onclick="window.location.href='database/export';">
        Go to Export</button>
    </div>
</body>

</html>