<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan Control</title>

    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            font-family: sans-serif;
            text-align: center;
        }

        div {
            margin: 20px 0;
        }

        button {
            font-size: 16px; 
            padding: 6px 24px;
            margin: 5px 0;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <h1>BleScan Control</h1>
    <div>
        <h2>Setup system</h2>
        <button onclick="window.location.href='scanner/settings';">
        Configure scanners</button>
        <br>
        <button onclick="window.location.href='transit/settings';">
        Configure server</button>
    </div>

    <div>
        <h2>Monitor system</h2>
        <button onclick="window.location.href='monitor/count_latest';">
        Check count raw data</button>
        <br>
        <button onclick="window.location.href='monitor/transit_latest';">
        Check transit raw data</button>
        <br>
        <button onclick="window.location.href='monitor/transit_events';">
        Check transit events</button>
        <br>
        <button onclick="window.location.href='monitor/count_graph';">
        Graph for counts</button>
        <br>
        <button onclick="window.location.href='monitor/travel_time';">
        Travel times</button>
    </div>

    <div>
        <h2>Export data</h2>
        <button onclick="window.location.href='database/export_count';">
        Export page (counts)</button>
        <br>
        <button onclick="window.location.href='database/export_transit';">
        Export page (travel time)</button>
    </div>

    <div style="margin-top: 10px; padding: 20px; font-size: 14px; color: gray;">
        Server CPU load: <span id="cpu">loading...</span>%
        <br>
        Server memory usage: <span id="memory">loading...</span>%
    </div>

    <script>
        function updateMetrics() {
            fetch('/metrics')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('cpu').textContent = data.cpu_usage.toFixed(1);
                    document.getElementById('memory').textContent = data.memory_usage.toFixed(1);
                })
                .catch(error => {
                    console.error('Error fetching metrics:', error);
                });
        }

        // Call immediately, then every 2 seconds
        updateMetrics();
        setInterval(updateMetrics, 2000);
    </script>

</body>

</html>