<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BleScan</title>
</head>

<body>
    <h1>BleScan Control Interface</h1>
    <div>
        <h2>Setup system</h2>
        <button onclick="window.location.href='config';">
        Configuration</button>
    </div>

    <div>
        <h2>Watch system</h2>
        <button onclick="window.location.href='data/latest';">
            Table view
        </button>
        <br>
        <button onclick="window.location.href='transit/latest';">
            Transit view
        </button>
        <br>
        <button onclick="window.location.href='data/graph';">
            Graph view
        </button>
    </div>

    <div>
        <h2>Export data</h2>
        <button onclick="window.location.href='database/export';">
        Go to Export</button>
    </div>
</body>

</html>